# Node.js
node_modules/
dist/
.build/
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and Editor-specific Files
.DS_Store  # macOS
Thumbs.db  # Windows
.idea/     # JetBrains IDEs (e.g., WebStorm, IntelliJ)
.vscode/   # Visual Studio Code
*.swp      # Vim swap files

# Dependency directories
package-lock.json
yarn.lock
.pnpmfile.cjs
.pnpm-store/

# Build Artifacts
build/
coverage/
tmp/
out/

# TypeScript
*.tsbuildinfo

# Webpack/Vite/Cra
.cache/
public/
**/bundle-*.js
**/chunk-*.js
**/*.map

# Test Coverage Reports
coverage/
.nyc_output/

# Miscellaneous
*.sublime-workspace
*.sublime-project
*.sass-cache/
*.vscode/
.vscode/
*.log
!.gitkeep